th {
  text-align: left;
}
td {
  text-align: center;
}
tr {
  line-height: 40px;
}

table {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
